body {
  background: #ebebeb;
  min-height: 80vh;
  margin: 0;
  padding: 20px;
  font-family: "Gill Sans Extrabold", sans-serif;
}

ul, ol {
  list-style: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 5px;
  font-size: 16px;
}
footer .site {
  padding: 10px;
  background: white;
  border-radius: 8px;
}
